/* Define a grid layout with two columns */
.common {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 16px; /* Adjust the gap between grid items as needed */
    padding-left: 20px;
    padding-top: 100px;
    color: aliceblue;
  }
  
  /* Additional styling for individual grid items if needed */
  .common > div {
    border: 1px solid #ccc;
    padding: 16px;
  }

  .headings{
    font-weight: bold;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 16px;
    font-size: large;
  }

.modules{
    border-radius: 5px;
    margin: 5px;
}

.EquityIQ{
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}